# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Ignore data files but keep directories
data/database/*
!data/database/.gitkeep
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Ignore model binaries
models/*
!models/.gitkeep

# OS artifacts
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
